body {
  font-family: Arial, sans-serif;
  background-color: #04171f;
  text-align: center;
}
.header {
  
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btnContainer {
  display: flex;
}

h1 {
  color: rgba(255, 255, 255, 0.692);
  font-size: 30px;
  font-weight: bolder;
}
h2 {
  color: #061114fb;
}
h3 {
  color: #061114e1;
  border-bottom: #04171f 1px solid;
}
h4 {
  color: #061114e1;
  padding: 10px;
  text-align: left;
}

.gameboardContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;

}


.gameboardSection {
  display: grid;
  justify-content: center;
  padding: 10px;
  background-color: #7c7c7c;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  grid-template-rows: 1fr 2fr;
}

.unplacedShipsContainer {
  padding: 20px;
}


.board {
  display: grid;
  grid-template-columns: repeat(10, 40px); /* 10 columns of 40px each */
  grid-template-rows: repeat(10, 40px);    /* 10 rows of 40px each */
  gap: 2px; /* Space between the cells */
  margin: 10px 0;
  border: 2px solid #333;
  justify-content: center;
}
.disabled  {
  pointer-events: none;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #14688f9d;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #093244;
  color: white;
}


.cell.hit {
  color: red;
}

.cell.miss {
  background-color:#093244;
  
}


.ship-player1, .ship-player2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}


.shipCell-player2 {
  background-color: #141516; 
}



.ship-cell {
  width: 40px;
  height: 40px;
  background-color: #141516; 
  border: 1px solid black;
  
}

.ship-placed {
  background-color: #14151642; 
  opacity: 0.5;
}

.gameStatusMessage {
  
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 80%;
  
  

}
button {
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 30px;
  color: #061114;
  background-color: #c3c8ca;
  font-size: 90%;
  font-weight: bolder;
  margin: 0px 10px;
  
}

button:disabled {
color: #09324498;
background-color: #737779;
}
